<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
</head>
<body >
    <!-- #.................by passing only key and provide the name of key................ -->
    <!-- <center>
 <h1>Personal Information</h1>
 <h2>My Name is : {{nm}}</h2>
 <h2>My City is : {{ct}}</h2>
 <h2>My Qualification is : {{qual}}</h2>

    </center> -->


    <!-- # ............by passsing key and value in dic formate.............. -->
    <!-- <center>
        <h1>Personal Information</h1>
        <h2>My Name is : {{key.nm}}</h2>
        <h2>My City is : {{key.ct}}</h2>
        <h2>My Qualification is : {{key.qual}}</h2>
           </center> -->


<!--            
 # ..........passing one attribute like nm in all place............ -->
           <center>
           <h1>Personal Information</h1>
           <h2>My Name is : {{key.nm.name}}</h2>
           <h2>My City is : {{key.nm.ct}}</h2>
           <h2>My Qualification is : {{key.nm.qual}}</h2>
              </center> 
           
</body>
</html>